In [65]:
import pandas as pd
from IPython.display import display
import re #regex

In [66]:
# Carrega o dataset original
data = pd.read_csv('ted_main.csv')
transcripts = pd.read_csv('transcripts.csv')

In [67]:
print(data.columns)
display(data.head())
display(data.describe())

Index(['comments', 'description', 'duration', 'event', 'film_date',
       'languages', 'main_speaker', 'name', 'num_speaker', 'published_date',
       'ratings', 'related_talks', 'speaker_occupation', 'tags', 'title',
       'url', 'views'],
      dtype='object')

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,1140739200,26,David Pogue,David Pogue: Simplicity sells,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...","[{'id': 1725, 'hero': 'https://pe.tedcdn.com/i...",Technology columnist,"['computers', 'entertainment', 'interface desi...",Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,1140912000,35,Majora Carter,Majora Carter: Greening the ghetto,1,1151367060,"[{'id': 3, 'name': 'Courageous', 'count': 760}...","[{'id': 1041, 'hero': 'https://pe.tedcdn.com/i...",Activist for environmental justice,"['MacArthur grant', 'activism', 'business', 'c...",Greening the ghetto,https://www.ted.com/talks/majora_carter_s_tale...,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,1140566400,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,1,1151440680,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...","[{'id': 2056, 'hero': 'https://pe.tedcdn.com/i...",Global health expert; data visionary,"['Africa', 'Asia', 'Google', 'demo', 'economic...",The best stats you've ever seen,https://www.ted.com/talks/hans_rosling_shows_t...,12005869

,comments,duration,film_date,languages,num_speaker,published_date,views
count,2550.000000,2550.000000,2.550000e+03,2550.000000,2550.000000,2.550000e+03,2.550000e+03
mean,191.562353,826.510196,1.321928e+09,27.326275,1.028235,1.343525e+09,1.698297e+06
std,282.315223,374.009138,1.197391e+08,9.563452,0.207705,9.464009e+07,2.498479e+06
min,2.000000,135.000000,7.464960e+07,0.000000,1.000000,1.151367e+09,5.044300e+04
25%,63.000000,577.000000,1.257466e+09,23.000000,1.000000,1.268463e+09,7.557928e+05
50%,118.000000,848.000000,1.333238e+09,28.000000,1.000000,1.340935e+09,1.124524e+06
75%,221.750000,1046.750000,1.412964e+09,33.000000,1.000000,1.423432e+09,1.700760e+06
max,6404.000000,5256.000000,1.503792e+09,72.000000,5.000000,1.506092e+09,4.722711e+07

In [68]:
print(transcripts.columns)
display(transcripts.head())
display(transcripts.describe())

Index(['transcript', 'url'], dtype='object')

,transcript,url
0,Good morning. How are you?(Laughter)It's been ...,https://www.ted.com/talks/ken_robinson_says_sc...
1,"Thank you so much, Chris. And it's truly a gre...",https://www.ted.com/talks/al_gore_on_averting_...
2,"(Music: ""The Sound of Silence,"" Simon & Garfun...",https://www.ted.com/talks/david_pogue_says_sim...
3,If you're here today — and I'm very happy that...,https://www.ted.com/talks/majora_carter_s_tale...
4,"About 10 years ago, I took on the task to teac...",https://www.ted.com/talks/hans_rosling_shows_t...

,transcript,url
count,2467,2467
unique,2464,2464
top,I have a question for you: Are you religious? ...,https://www.ted.com/talks/rob_reid_the_8_billi...
freq,2,2

In [69]:
# Junta os dois (tomando cuidado porque não tem o transcript de todas)

# Inner_join, comparando os urls
merged = pd.merge(data, transcripts, left_on='url', right_on='url')

In [70]:
def remove_tags(transcript):
    # (...)|(...)|(...) = qualquer uma das coisas entre parenteses
    # \( e \) = um parêntese, literalmente (sem o "\" tem outro significado em regex)
    # [^\)]* = qualquer coisa que não for parentese que fecha, n vezes
    regex = re.compile(r"(\(Music[^\)]*\))|(\(Applause[^\)]*\))|(\(Laughter[^\)]*\))", re.IGNORECASE)
    return regex.sub(" ", transcript).strip() #Remove os lugares em que der match com a regex
    
# Deixa só as colunas que nós vamos usar
final_dataset = pd.DataFrame()

final_dataset['transcripts'] = merged['transcript'].apply(remove_tags)
final_dataset['summary'] = merged['description']

display(final_dataset.head())
display(final_dataset.describe())

,transcripts,summary
0,"Good morning. How are you? It's been great, ha...",Sir Ken Robinson makes an entertaining and pro...
1,"Thank you so much, Chris. And it's truly a gre...",With the same humor and humanity he exuded in ...
2,"Hello voice mail, my old friend. I've called f...",New York Times columnist David Pogue takes aim...
3,If you're here today — and I'm very happy that...,"In an emotionally charged talk, MacArthur-winn..."
4,"About 10 years ago, I took on the task to teac...",You've never seen data presented like this. Wi...

       transcripts                                            summary
count         2467                                               2467
unique        2460                                               2464
top                 Psychologist Jonathan Haidt asks a simple, but...
freq             5                                                  2

In [71]:
# Salva
final_dataset.to_csv('tedtalks.csv')
print("Done")

Done